@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  padding-left: 9%;
  padding-right: 9%;
  margin-top: 15px;
  transition: background-color 0.5s, color 0.5s;

}

.dm {
  font-family: var(--font-dm-serif);
}

.dark body {
  background-color: #333; 
  color: #fff;
}

.scroll-snap-type-x-mandatory {
    scroll-snap-type: x mandatory;
  }
.scroll-snap-align-start {
    scroll-snap-align: start;
  }

.custom-checkbox:checked {
  background-color: #000;
}



